<div class="k-block">
    <button kendoButton [look]="'clear'">Clear Button</button>
    <button kendoButton [look]="'flat'">Flat Button</button>
    <button kendoButton [disabled]=true>Default Button</button>
    <button kendoButton [look]="'outline'">Outline Button</button>
</div>
<div>
    <button kendoButton [primary]=true>Primary Button</button>
    <button kendoButton [togglable]=true>Togglable</button>
</div>
<kendo-buttongroup width="100" >
    <button kendoButton [icon]="'user'" look="outline" [togglable]=true>Icon Button</button>
    <button kendoButton [icon]="'check'" look="outline" [togglable]=true>Icon Button</button>
    <button kendoButton [icon]="'calendar'" look="outline" [togglable]=true>Icon Button</button>
</kendo-buttongroup>